<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="O guia completo para tirar todas as suas dúvidas sobre a Nova Zelândia.">
    <meta name="keywords" content="nz,nova zelandia,guia,duvidas,turismo,viagem,australia,dummies,faq,ajuda,imigrar,imigração,viajar,viagem,morar">
    <meta name="author" content="Felipe Silva: felipeferreirasilva@gmail.com">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,600">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <title>NZ for Dummies</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="/"><img src="/images/logo.png" class="navbar-brand" style="width:150px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/questions">Perguntas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gerenciar</a>
                    <div class="dropdown-menu dropdown-menu-right mt-2" aria-labelledby="navbarDropdown">
                    <% if(!logged){ %>
                        <a class="dropdown-item" href="/login">Entrar</a>
                        <a class="dropdown-item" href="/register">Registrar</a>
                    <% } else if ( user.role === 'user') { %>
                        <a class="dropdown-item" href="/questions/new">Incluir Pergunta</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    <% } else if (user.role === 'editor' || user.role === 'admin') { %>
                        <a class="dropdown-item" href="/questions/new">Incluir Pergunta</a>
                        <a class="dropdown-item" href="/questions/toapprove">Perguntas Pendentes</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>