<% include partials/header %>
<div class="jumbotron jumbotron-fluid text-center jb-title"><h2><strong>Sobre o NZFD</strong></h2>
</div>
<div class="container">
    <div class="jumbotron jb-about">
        <div>
            <h4><strong>Objetivo</strong></h4>
            <h5>Ajudar a todos que querem vir (seja imigrar ou não) para a Nova Zelândia.</h5>
        </div> 
    </div>
    <div class="jumbotron jb-about">
        <div class="text-justify">
            <h4><strong>Importante</strong></h4>
            <h5>O documento é composto de perguntas e respostas agrupadas por tópicos e sugeridos por diversos colaboradores.
            A ideia aqui não é dar uma única resposta e direta, até porque cada caso é um caso, a ideia é simplesmente ajudar você a encontrar as respostas que mais caberão para o seu caso.
            Sempre que possível as informações conterão o respectivo link. Sempre que for mencionado a moeda real, será usado BRL ou R$. Sempre que for mencionado o dólar neozelandês, será usado NZD ou N$. Não é a ideia deste documento indicar o serviço de fulano ou ciclano, ainda que estes sejam Brasileiros, então a menos que seja um caso muito específico, não vou adicionar o contato para não favorecer ninguém. Existe uma seção ao final do documento apenas de links de páginas no facebook, grupos do WhatsApp, empresas profissionais.
        </div> 
    </div>
    <div class="jumbotron jb-about"> 
        <div class="text-justify">
            <h4><strong>Aviso "legal"</strong></h4>
            <h5>Não sou responsável por qualquer informação neste documento, na verdade como comentei anteriormente, nem sempre o que funciona para um funciona para outro, por tanto, procure sempre os sites oficiais das empresas ou órgãos competentes, para confirmar as informações. Informações relativas a visto, procure sempre um immigrant adviser ou advogado. Além do mais, as coisas mudam de vez em quando, então é sempre bom entrar nos sites oficiais e averiguar a informação. Minha humilde sugestão para você que realmente pensa em vir para a NZ é entrar nestes links abaixo e ir investindo um pouco do seu tempo. Você vai achar muitas informações interessantes.</h5>
            <p>
                <p><a href="https://www.govt.nz/" title="(Site oficial do governo com diversas informações importantes)">https://www.govt.nz/</a></p>
                <p><a href="https://www.newzealandnow.govt.nz">https://www.newzealandnow.govt.nz</a></p>
                <p><a href="https://www.immigration.govt.nz/">https://www.immigration.govt.nz/</a></p>
                <p><a href="https://www.govt.nz/organisations/">https://www.govt.nz/organisations/</a></p>
                <p><a href="http://www.newzealand.com/" title="(Apresenta guias específicos  sobre viagem, negócios, estudos, trabalho e moradia na Nova Zelândia)">http://www.newzealand.com/</a></p>
                <p><a href="https://nzready.immigration.govt.nz/" title="(Ferramenta disponibilizada pelo INZ que permite listar diversos aspectos relacionados com sua chegada/imigração para a NZ, semelhante a uma lista de tarefas a cumprir)">https://nzready.immigration.govt.nz/</a></p>
            </p>
        </div>
    </div>
    <div class="jumbotron jb-about">
        <div>
            <h4><strong>Agradecimentos</strong></h4>
            <h5>Lista de todas as pessoas que colaboram ou colaboraram com o NZFD.</h5>
            <div class=" mt-5 text-center">
            <table width="100%">
                <tbody>
                    <tr class="row">
                        <td class="col-sm">Amanda Carri&ccedil;o</td>
                        <td class="col-sm">Eduardo Henrique</td>
                        <td class="col-sm">Monique Campos</td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm">Ana Paula Dorta&nbsp;</td>
                        <td class="col-sm">Fabio Oliveira</td>
                        <td class="col-sm">Pablo Carvalho</td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm">Andre Campos Rodovalho</td>
                        <td class="col-sm">Icaro de Almeida</td>
                        <td class="col-sm">Patrick Puerari</td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm">Andreia M. - Familia Kiwi</td>
                        <td class="col-sm">Karina Fortes</td>
                        <td class="col-sm">Rafa Souza</td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm">Atila Aloise</td>
                        <td class="col-sm">Kely Michel</td>
                        <td class="col-sm">Rita Marques</td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm">Bruno Miranda</td>
                        <td class="col-sm">Larissa Villela</td>
                        <td class="col-sm">Rodrigo Mathias</td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm">Camila Calazans Pessoa</td>
                        <td class="col-sm">Leticia Carreiro</td>
                        <td class="col-sm">Samuel Melo</td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm">Clarisse Dias</td>
                        <td class="col-sm">Ma Morandi</td>
                        <td class="col-sm">Saulo Araujo</td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm">Claudia Pereira - BrazilKiwi</td>
                        <td class="col-sm">Mario Apra</td>
                        <td class="col-sm">Silvana Carneiro</td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm">Cybele Freitas</td>
                        <td class="col-sm">Marlon Batista</td>
                        <td class="col-sm">Toni Rossmann</td>
                    </tr>
                    <tr class="row">
                        <td class="col-sm">Daniel in NZ</td>
                        <td class="col-sm">Mauricio Kimura</td>
                        <td class="col-sm">Michel Koti</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  
    </div>
</div>
<% include partials/footer %>
