<% include partials/header %>

<div class="jumbotron jumbotron-fluid text-center jb-title"><h2><strong>Perguntas e Respostas</strong></h2></div>
<div class="container">
    <div class="jumbotron">
        <div class="container">
            
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn-link collapsed text-left" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                        <%= question.title %>
                        </button>
                    </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <%- question.answer %>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<% include partials/footer %>