<% include partials/header %>
<div class="jumbotron text-center jb-title">
    <h2><strong>Cadastro de Usuário</strong></h2>
</div>
<div class="container">
    <div class="jumbotron">
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="nome">Nome Completo</label>
                <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome completo" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Digite o seu email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Digite sua senha" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
</div>
<% include partials/footer %>