body{
    background-image: linear-gradient(to right, #dee2e4 0%, #cfd9df 100%);
    font-family: 'Raleway', sans-serif;
}

.jumbotron{
    background-color: #f8f9fa!important;
}

.btn-link{
    border: none;
}

.btn-link:focus{
    outline:none;
    text-decoration: none;
}

.btn-link:hover{
    text-decoration: none;
}

.bg-home{
    background-color:#81D6CF;
    height: 100vh;
    text-align: center;
}

.bg-home img{
    margin-top: 10%;
}

#background {
    border: none;
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100vh;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(/images/bg.png) no-repeat;
    background-color: #0F0C51;
    background-size: cover;
}
    
.collapsing {
    transition: height 0.6s;
}
    